* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    font-family: 'Poppins', serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0px 8px 6px -6px gray;
    -webkit-box-shadow: 0 8px 6px -6px;
    border-bottom: 0.3px solid gray !important;
}

.nav-link {
    font-weight: 300 !important;
}

.active {
    border-bottom: 1px solid black;
}

.navbar-brand {
    font-weight: 700;
    font-family: 'roboto', sans-serif;
    letter-spacing: 2px;
}

/* Footer */

.footer {
    color: white;
    padding: 25px;
    background: #000;
    background: -webkit-linear-gradient(to right, #434343, #000);
}

.footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.footer a:hover {
    color: #ffefba;
    border-bottom: 1px solid #ffefba;
}