# Backend ignores
/backend/node_modules/
/backend/.env
/backend/package-lock.json

# Frontend ignores
/frontend/node_modules/
/frontend/build/
/frontend/.env
/frontend/package-lock.json

# System & common
.env
*.env
*.log
*.log.*
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
coverage/
